@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
        --btn-green: #1e4f2c;
          --btn-green-dark: #2b6a3d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    /* Unchanged Button Colors */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.pixel-button-base {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid var(--btn-green-dark);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  transition: all 75ms ease-in-out;
}

.pixel-button-base-mobile {
  padding: 0.5rem 1.25rem;
  font-size: .75rem;
  font-weight: 700;
  border: 2px solid var(--btn-green-dark);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  transition: all 75ms ease-in-out;
}

.pixel-button-base:active,
.pixel-button-base-mobile:active {
  transform: translateY(4px);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}

.pixel-button-primary {
  color: white;
  background-color: var(--btn-green);
}

.pixel-button-base:hover,
.pixel-button-base-mobile:hover {
  color: white;
  background-color: var(--btn-green);
}